<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest Uncompressed JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/jquery-ui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.structure.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.theme.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Script.js")"></script>
</head>
    <body>
        
        @RenderBody();
    </body>
</html>
